.search-bar {
  position: relative;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.15);

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  width: 100%;

  .input-base {
    color: inherit;
    width: 100%;

    .MuiInputBase-input {
      width: 100%;
      padding: 8px 8px 8px 0px;
      padding-left: calc(1em + 32px);
    }
  }

  .icon-wrapper {
    padding: 0 16px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}